<!DOCTYPE html>
<html>
  <style>
    h2{
      text-align: center;
    }

 
  </style>
<body>
  <input type="submit" value="HOME" (click)="home2()">
<h2>SIGN UP Page</h2>

<form class="c">
 
  <div>
  First name: 
  <br><input type="text" id="fname" name="fname" ><br>
  
  Last name: <br>
   <input type="text" id="lname" name="lname" ><br>
   Email: <br>
   <input type="text" id="em" name="email" ><br>
   Password: <br>
   <input type="text" id="pw" name="password" ><br><br>
  <input type="submit" value="Submit" (click)="submit()" >
</div>
</form> 



</body>
</html>



