
<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Home page </title>  
<style>   
 
button {   
       background-color: black;   
       width: auto;  
        color: white;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         }   
     
 
</style>   
</head>    
<body>    
    <h1> HOME PAGE </h1>   
    <form>  
        <div>
            <input type="submit" value="SIGN UP" (click)="sup()"><br><br>
            <input type="submit" value="LOGIN" (click)="log()">   
        </div>   
    </form>     
</body>     
</html>  